@import '../../scss/variables';

.Author{
    .profile{
        padding: getSpacing(sm);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
        h4{
            color: getColor(nile-primary);
        }
    
        img{
            width: 20rem; height: 20rem;
            border-radius: 50%;
            object-fit: cover;
        }
    
        h5{
            color: getColor(nile-secondary);
            text-align: justify;
        }
    }
}