@import '../../scss/variables';

.Header{
    width: 100%; height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 5rem;
        font-weight: 900;
        line-height: 4rem;
        color: getColor(nile-primary);
    }

    h2{
        color: getColor(nile-secondary);
        font-weight: 500;
    }
}